{% extends 'ru/nav.html'%}
{% load staticfiles %}
{% block navbar %}
<title>New Password</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<div class="container">
    <div class="container-login">

        <div class="alert alert-warning alert-dismissible fade show" id='hide' role="alert">
            Check your email. We sent a reset code to your email address.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class='py-2 px-4'>
            <h3>New Password</h3>
            <span id="emailHelp" class="form-text text-muted">Set your new password!</span>


        </div>
        <form class='p-4 pb-5' method="POST"> {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputPassword1">Code</label>
                <input type="text" class="form-control" name='code' id="exampleInputPassword1" required placeholder="Enter code">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">New password</label>
                <input type="password" class="form-control" name='password1' id="exampleInputPassword1" required placeholder="New password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm password</label>
                <input type="password" class="form-control" name='password2' id="exampleInputPassword1" required placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
{% endblock %}